@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #F9FCFA;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale; 
  text-rendering: optimizeLegibility;
}




